@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Irish+Grover&family=Josefin+Sans&display=swap");
.header-logo {
  text-align: center;
}

.nav-btn {
  margin: 20px;
  text-align: center;
}

a:link {
  text-decoration: none;
  font-size: x-large;
}

nav ul li {
  list-style-type: none;
}

#background-storytelling {
  background-size: cover;
  background: url("../img/background-storytelling-historypage.jpg") no-repeat
    center;
  height: 100%;
  position: relative;
  width: 100%;
}

nav button {
  border: none;
  background-color: inherit;
}

#shamrock-nav {
  min-width: 200px;
  min-height: 200px;
  width: 50%;
  height: auto;
  position: relative;
}

.grow {
  transition: transform 0.5s;
  transform-origin: center;
  transform-box: fill-box;
}
.grow:hover {
  transform: scale(1.1);
}

.m-p-0,
.m-p-0 * {
  margin: 0;
  padding: 0;
}

.nav-label {
  font-family: "Indie Flower";
  font-weight: bold;
  color: #4caf50;
}

/* default mobile styling */
#history-label {
  position: relative;
  right: 60px;
  bottom: 90px;
}

#quiz-label {
  position: relative;
  right: 10px;
  bottom: 203px;
}

#about-label {
  position: relative;
  left: 32px;
  bottom: 87px;
}

/* tablet styling */
@media only screen and (min-width: 768px) {
  .nav-label {
    font-size: 2rem;
  }

  #history-label {
    position: relative;
    right: 100px;
    bottom: 160px;
  }

  #quiz-label {
    position: relative;
    right: 15px;
    bottom: 350px;
  }

  #about-label {
    position: relative;
    left: 60px;
    bottom: 155px;
  }
}

/* laptop styling */
@media only screen and (min-width: 1024px) {
  .nav-label {
    font-size: 2.5rem;
  }

  #history-label {
    position: relative;
    right: 120px;
    bottom: 200px;
  }

  #quiz-label {
    position: relative;
    right: 20px;
    bottom: 470px;
  }

  #about-label {
    position: relative;
    left: 80px;
    bottom: 198px;
  }
}

/* desktop styling */
@media only screen and (min-width: 1200px) {
  .nav-label {
    font-size: 2.5rem;
  }

  #history-label {
    position: relative;
    right: 150px;
    bottom: 250px;
  }

  #quiz-label {
    position: relative;
    right: 25px;
    bottom: 550px;
  }

  #about-label {
    position: relative;
    left: 90px;
    bottom: 243px;
  }
}
