/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Irish+Grover&family=Josefin+Sans&display=swap');

.header-logo {
    text-align: center;
}

.nav-btn {
  margin: 20px;
  text-align: center;

}

a:link {
  text-decoration: none;
  font-size: x-large;
}


nav ul li {
    list-style-type: none;
}
h3{
  font-family: 'Irish Grover', cursive;
}
h4{
    font-family: 'Indie Flower', cursive;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}
#storytelling {
    background-size: cover;
    background-image: url('../img/bg-historypage.jpg') no-repeat center;
    height: 100%;
    position: relative;
    width: 100%;
}

